.logo-ff {
    font-family: 'cwTeXYen','Baloo Tamma 2', sans-serif;
  }
.logo-fz {
  font-size: 38px;
}

.opacity09 {
  opacity: 0.9;
}

.bg-parallax {
  overflow: hidden;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}